<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
                <li class="active">
                    <a data-toggle="tab" href="#panel_overview">
                        Overview
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#panel_edit_account">
                        Edit Account
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#panel_projects">
                        Projects
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#panel_document">
                        Documents
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="panel_overview" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <div class="user-left">
                                <div class="center">
                                    <h4>Peter Clark</h4>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="user-image">
                                            <div class="fileupload-new thumbnail"><img src="assets/images/avatar-1-xl.jpg" alt="">
                                            </div>
                                            <div class="fileupload-preview fileupload-exists thumbnail"></div>
                                            <div class="user-image-buttons">
																		<span class="btn btn-azure btn-file btn-sm"><span class="fileupload-new"><i class="fa fa-pencil"></i></span><span class="fileupload-exists"><i class="fa fa-pencil"></i></span>
																			<input type="file">
																		</span>
                                                <a href="#" class="btn fileupload-exists btn-red btn-sm" data-dismiss="fileupload">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="social-icons block">
                                        <ul>
                                            <li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
                                                <a href="http://www.twitter.com" target="_blank">
                                                    Twitter
                                                </a>
                                            </li>
                                            <li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
                                                <a href="http://facebook.com" target="_blank">
                                                    Facebook
                                                </a>
                                            </li>
                                            <li data-placement="top" data-original-title="Google" class="social-google tooltips">
                                                <a href="http://google.com" target="_blank">
                                                    Google+
                                                </a>
                                            </li>
                                            <li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
                                                <a href="http://linkedin.com" target="_blank">
                                                    LinkedIn
                                                </a>
                                            </li>
                                            <li data-placement="top" data-original-title="Github" class="social-github tooltips">
                                                <a href="#" target="_blank">
                                                    Github
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                </div>
                                <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="3">Contact</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>url</td>
                                        <td>
                                            <a href="#">
                                                www.example.com
                                            </a></td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>email:</td>
                                        <td>
                                            <a href="">
                                                peter@example.com
                                            </a></td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>phone:</td>
                                        <td>(641)-734-4763</td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>skye</td>
                                        <td>
                                            <a href="">
                                                peterclark82
                                            </a></td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="3">General information :p</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Position</td>
                                        <td>UI Designer</td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-facebook edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Last Logged In</td>
                                        <td>56 min</td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Position</td>
                                        <td>Senior Marketing Manager</td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Supervisor</td>
                                        <td>
                                            <a href="#">
                                                Kenneth Ross
                                            </a></td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td><span class="label label-sm label-info">Administrator</span></td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="3">Additional information</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Birth</td>
                                        <td>21 October 1982</td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Groups</td>
                                        <td>New company web site development, HR Management</td>
                                        <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-8">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus.
                            </p>
                            <div class="row space20">
                                <div class="col-sm-3">
                                    <button class="btn btn-icon btn-block">
                                        <i class="clip-clip"></i>
                                        Projects <span class="badge badge-info"> 4 </span>
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-icon btn-block pulsate">
                                        <i class="clip-bubble-2"></i>
                                        Messages <span class="badge badge-info"> 23 </span>
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-icon btn-block">
                                        <i class="clip-calendar"></i>
                                        Calendar <span class="badge badge-info"> 5 </span>
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-icon btn-block">
                                        <i class="clip-list-3"></i>
                                        Notifications <span class="badge badge-info"> 9 </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panel_edit_account" class="tab-pane fade">
                    <form class="form-horizontal" action="#">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    Simple
                                </label>
                                <div data-provides="fileupload" class="fileupload fileupload-new">
														<span class="btn btn-file btn-light-grey"><i class="fa fa-folder-open-o"></i> <span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
															<input type="file">
														</span>
                                    <span class="fileupload-preview"></span>
                                    <a data-dismiss="fileupload" class="close fileupload-exists float-none" href="#">
                                        &times;
                                    </a>
                                </div>
                                <p class="help-block">
                                    <button class="btn btn-icon btn-block">
                                        Upload
                                        <i class="clip-list-3"></i>

                                    </button>
                                </p>
                            </div>
                        </div>

                    </form>


                    <!-- end: MULTIPLE FILE UPLOAD -->
                </div>

            </div>
            <div id="panel_projects" class="tab-pane fade">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title">Striped <span class="text-bold">rows</span></h4>
                        <div class="panel-tools">
                            <div class="dropdown">
                                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                    <li>
                                        <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                                    </li>
                                    <li>
                                        <a class="panel-refresh" href="#"> <i class="fa fa-refresh"></i> <span>Refresh</span> </a>
                                    </li>
                                    <li>
                                        <a class="panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> <span>Configurations</span></a>
                                    </li>
                                    <li>
                                        <a class="panel-expand" href="#"> <i class="fa fa-expand"></i> <span>Fullscreen</span></a>
                                    </li>
                                </ul>
                            </div>
                            <a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
                        </p>
                        <table class="table table-striped table-hover" id="sample-table-2">
                            <thead>
                            <tr>
                                <th class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" class="flat-grey selectall">
                                        </label>
                                    </div></th>
                                <th class="center">Photo</th>
                                <th>Full Name</th>
                                <th class="hidden-xs">Username</th>
                                <th class="hidden-xs">Email</th>
                                <th class="hidden-xs">Phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" class="flat-grey foocheck">
                                        </label>
                                    </div></td>
                                <td class="center"><img src="assets/images/avatar-1.jpg" alt="image"/></td>
                                <td>Peter Clark</td>
                                <td class="hidden-xs">username</td>
                                <td class="hidden-xs">
                                    <a href="#" rel="nofollow" target="_blank">
                                        peter@example.com
                                    </a></td>
                                <td class="hidden-xs">(641)-734-4763</td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                        <a href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group">
                                            <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                <i class="fa fa-cog"></i> <span class="caret"></span>
                                            </a>
                                            <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                <li>
                                                    <a role="menuitem" tabindex="-1" href="#">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="menuitem" tabindex="-1" href="#">
                                                        <i class="fa fa-share"></i> Share
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="menuitem" tabindex="-1" href="#">
                                                        <i class="fa fa-times"></i> Remove
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div id="panel_document" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover" id="projects">
                    <thead>
                    <tr>
                        <th class="center">
                            <div class="checkbox-table">
                                <label>
                                    <input type="checkbox" class="flat-grey selectall">
                                </label>
                            </div></th>
                        <th>Nom de Document</th>
                        <th class="hidden-xs">Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center">
                            <div class="checkbox-table">
                                <label>
                                    <input type="checkbox" class="flat-grey foocheck">
                                </label>
                            </div></td>
                        <td>IT Help Desk</td>
                        <td class="hidden-xs">Master Company</td>
                        <td>11 november 2014</td>

                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" class="btn btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                <a href="#" class="btn btn-red tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu dropdown-dark pull-right">

                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <i class="fa fa-share"></i> Share
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <i class="fa fa-times"></i> Remove
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
<!-- end: PAGE CONTENT-->